:host {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100vw;
  max-height: 100vh;

  background-image: url(/images/background_alfa.webp);
  background-size: 100% 100%;
  background-position: center;

  &.horizontal {
    background-image: url(/images/background_alfa_horizontal.webp);
  }
}

.content {
  margin: 5rem;
}
