<div class="content">
  <ng-container *ngIf="!isLogged; else joinGame">
    <app-login></app-login>
  </ng-container>

  <ng-template #joinGame>
    <mat-card>

      <form *ngIf="form" [formGroup]="form" class="input-container">
        <mat-form-field>
          <mat-label>CODE</mat-label>
          <input formControlName="password" matInput>
        </mat-form-field>
      </form>
      <div class="buttons">
        <button mat-button (click)="createGame()">CREATE GAME</button>
        <button mat-button (click)="joinGames()">JOIN GAME</button>
      </div>
    </mat-card>
  </ng-template>
</div>