<h1>{{ 'PLAYER' | translate }}</h1>

@if (player.value(); as player) {
  <div class="player-info">
    <div class="player-row">
      <span class="label">{{ 'ID' | translate }}:</span>
      <span>{{ player.id }}</span>
    </div>
    <div class="player-row">
      <span class="label">{{ 'RACE' | translate }}:</span>
      <span>{{ player.raceId }}</span>
    </div>
    <div class="player-row">
      <span class="label">{{ 'LEVEL' | translate }}:</span>
      <span>{{ player.level }}</span>
    </div>
    <div class="player-row">
      <span class="label">{{ 'RANK' | translate }}:</span>
      <span>{{ player.rank }}</span>
    </div>
    <div class="player-row">
      <span class="label">{{ 'EXPERIENCE' | translate }}:</span>
      <span>{{ player.experience }}</span>
    </div>
    <div class="player-row">
      <span class="label">{{ 'STATS' | translate }}:</span>
      <ul>
        @for (stat of player.stats; track stat.statsType) {
          <li>{{ stat.statsType | translate }}: {{ stat.value }}</li>
        }
      </ul>
    </div>
  </div>
}
