html,
body,
canvas {
  margin: 0;
  overflow: hidden;
}

body {
  background: rgb(118, 147, 179);
  background: linear-gradient(180deg, rgba(118, 147, 179, 1) 47%, rgb(12, 17, 33) 56%);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../assets/background.png') center transparent;
  background-repeat: repeat-x;
}

#info {
  position: absolute;
  color: white;
  margin: 1rem 10%;
  padding: 1rem;
  background-color: rgba(204, 204, 204, 0.349);
}

#fps {
  position: absolute;
  color: white;
  margin: 1rem 1rem 1rem 90%;
  padding: 1rem;
  background-color: rgba(204, 204, 204, 0.349);
}

canvas {
  /* background-color: rgba(0, 0, 0, 0.5); */
}

#player {    
  left: 40%;
  top: 2rem;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

#totalLife { 
  width: 500px;
  height: 25px;
  border: 1px solid #ccc;
}

#life {
  height: 25px;
  background-color: red;
}