@import '../../../../theme/variables.scss';
.card {
  position: relative;

  img {
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
  }

  mat-icon {
    position: absolute;
    right: 2px;
    top: 4px;
    font-size: 20px;
  }

  .content {
    background: $white;
    color: $dark-1;
    position: absolute;
    padding: 16px;
    bottom: -32px;
    margin: 0 15%;
    height: 64px;
    z-index: 3;
    border-radius: 4px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      margin: 0;
      font-size: 18px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.small {
        width: 80%;
      }
    }
  }
}
