<game-search (searchChanged)="onSearch($event)" />

<div class="buttons">
  <button gameButton routerLink="/admin/sets/new">{{ 'CREATE_SET' | translate }}</button>
  <button gameButton routerLink="/admin/places/new">{{ 'CREATE_PLACE' | translate }}</button>
  <button gameButton routerLink="/admin/items/new">{{ 'CREATE_ITEM' | translate }}</button>
</div>

@if (shouldDisplayInfo()) {
  <div class="info">
    {{ 'SEARCH_ITEM_SETS_PLACES_BY_NAME_OR_ID' | translate }}
  </div>
}

@if (results.value(); as results) {
  <h2>
    {{ 'SETS' | translate }}
  </h2>

  <div class="results">
    @for (result of results.sets; track result.id) {
      <game-search-card
        [search]="result"
        (onClickEdit)="onClickEdit('sets', result.id)"
        (onClickDelete)="onClickDelete('sets', result.id)"
      />
    } @empty {
      <div class="no-results">
        <p>{{ 'NO_RESULTS' | translate }}</p>
      </div>
    }
  </div>

  <h2>
    {{ 'PLACES' | translate }}
  </h2>

  <div class="results">
    @for (result of results.places; track result.id) {
      <game-search-card
        [search]="result"
        (onClickEdit)="onClickEdit('places', result.id)"
        (onClickDelete)="onClickDelete('places', result.id)"
      />
    } @empty {
      <div class="no-results">
        <p>{{ 'NO_RESULTS' | translate }}</p>
      </div>
    }
  </div>

  <h2>
    {{ 'ITEMS' | translate }}
  </h2>

  <div class="results">
    @for (result of results.items; track result.id) {
      <game-search-card
        [search]="result"
        (onClickEdit)="onClickEdit('items', result.id)"
        (onClickDelete)="onClickDelete('items', result.id)"
      />
    } @empty {
      <div class="no-results">
        <p>{{ 'NO_RESULTS' | translate }}</p>
      </div>
    }
  </div>
}
