<h1>{{ 'REGISTER_TITLE' | translate }}</h1>

<div class="content">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="register-name">
        {{ 'REGISTER_NAME_PLACEHOLDER' | translate }}
      </label>
      <input
        id="register-name"
        gameInput
        formControlName="name"
        type="text"
        autocomplete="given-name"
        [placeholder]="'REGISTER_NAME_PLACEHOLDER' | translate"
      />

      @if (name?.touched && name?.errors?.['required']) {
      <p class="error-message">
        {{ 'REGISTER_NAME_REQUIRED' | translate }}
      </p>
      }
    </div>

    <div class="input-group">
      <label for="register-email">
        {{ 'REGISTER_EMAIL_PLACEHOLDER' | translate }}
      </label>
      <input
        id="register-email"
        gameInput
        formControlName="email"
        autocomplete="email"
        type="email"
        [placeholder]="'REGISTER_EMAIL_PLACEHOLDER' | translate"
      />

      @if (email?.touched && email?.errors?.['email']) {
      <p class="error-message">
        {{ 'REGISTER_EMAIL_INVALID' | translate }}
      </p>
      } @if (email?.touched && email?.errors?.['required']) {
      <p class="error-message">
        {{ 'REGISTER_EMAIL_REQUIRED' | translate }}
      </p>
      } @if (email?.touched && email?.errors?.['emailTaken']) {
      <p class="error-message">
        {{ 'REGISTER_EMAIL_TAKEN' | translate }}
      </p>
      }
    </div>
    <div class="input-group">
      <label for="register-password">
        {{ 'REGISTER_PASSWORD_PLACEHOLDER' | translate }}
      </label>
      <input
        id="register-password"
        gameInput
        formControlName="password"
        type="password"
        autocomplete="new-password"
        [placeholder]="'REGISTER_PASSWORD_PLACEHOLDER' | translate"
      />

      @if (password?.touched && password?.errors?.['required']) {
      <p class="error-message">
        {{ 'REGISTER_PASSWORD_REQUIRED' | translate }}
      </p>
      }
    </div>
    <div class="input-group">
      <label for="register-confirm-password">
        {{ 'REGISTER_CONFIRM_PASSWORD_PLACEHOLDER' | translate }}
      </label>
      <input
        id="register-confirm-password"
        gameInput
        formControlName="confirmPassword"
        type="password"
        autocomplete="new-password"
        [placeholder]="'REGISTER_CONFIRM_PASSWORD_PLACEHOLDER' | translate"
      />
      @if (confirmPassword?.touched && confirmPassword?.errors?.['required']) {
      <p class="error-message">
        {{ 'REGISTER_CONFIRM_PASSWORD_REQUIRED' | translate }}
      </p>

      } @if (confirmPassword?.touched &&
      confirmPassword?.errors?.['passwordMismatch']) {
      <p class="error-message">
        {{ 'REGISTER_PASSWORD_MISMATCH' | translate }}
      </p>
      }
    </div>

    <button gameButton type="submit" [disabled]="registerForm.invalid">
      {{ 'REGISTER_BUTTON_TEXT' | translate }}
    </button>
  </form>

  <div class="register-link">
    <p>{{ 'REGISTER_TO_LOGIN_TEXT' | translate }}</p>

    <button routerLink="/auth/login" gameButton [style]="'outlined'">
      {{ 'REGISTER_TO_LOGIN_BUTTON_TEXT' | translate }}
    </button>
  </div>
</div>
