mat-card {
  width: 300px;
  .input-container {
    mat-form-field {
      width: 100%;
      margin-bottom: 10%;
      mat-label {
        color: white;
      }
    }
  }

  ion-button {
    width: 100%;
    margin-bottom: 1rem;
  }
}
