<form [formGroup]="setForm()">
  <div class="form-group">
    <label for="setName">{{ 'SET_NAME' | translate }}</label>
    <input id="setName" type="text" formControlName="name" placeholder="{{ 'SET_NAME' | translate }}" />
    @if (name.invalid && (name.dirty || name.touched)) {
      <div class="error-message">
        @if (name.errors?.['required']) {
          {{ 'NAME_REQUIRED' | translate }}
        }
        @if (name.errors?.['minlength']) {
          {{ 'NAME_MIN_LENGTH' | translate }}
        }
      </div>
    }
  </div>

  <div class="form-group">
    <label for="setDescription">{{ 'SET_DESCRIPTION_OPTIONAL' | translate }}</label>
    <textarea
      id="setDescription"
      formControlName="description"
      placeholder="{{ 'SET_DESCRIPTION_PLACEHOLDER' | translate }}"
    ></textarea>
  </div>

  <game-effects-form [effectsArray]="effects" />
</form>
