:host {
  --min-width: 250px;
  --max-width: 650px;
  --min-height: 250px;
  --max-height: 650px;

  position: relative;
  z-index: 1;
  display: block;

  width: clamp(var(--min-width), 90%, var(--max-width));
  height: clamp(var(--min-height), 90%, var(--max-height));

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;

  background-image: url(/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: opacity(0.8);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.content {
  max-height: 650px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(54px, auto);

  grid-template-areas:
    'title title'
    'item item';

  overflow-y: auto;

  h1 {
    grid-area: title;
    font-size: 2rem;
    color: white;

    max-width: clamp(var(--min-width), 90%, var(--max-width));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .item {
    grid-area: item;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(54px, auto);
    padding: 4px;

    grid-template-areas:
      'title    title       title       title'
      'image    name        name        name'
      'image    description description description'
      'empty    description description description'
      'actions  actions     actions     actions';

    gap: 1rem;

    .title {
      grid-area: title;

      display: flex;
      align-items: center;
      justify-content: center;

      gap: 0.5rem;
    }

    .image {
      grid-area: image;
    }

    .name {
      grid-area: name;
    }

    .description {
      grid-area: description;
    }

    .actions {
      grid-area: actions;

      button {
        width: 100%;
        height: 100%;
      }
    }
  }
}
