<button aria-label="Close" class="close" gameButton color="primary" (click)="close()">X</button>

@if (placeResource.value(); as place) {
  <div class="content">
    <h1>{{ place.name }}</h1>

    <div class="item">
      @if (place.permissions.alreadyClaimed) {
        <div class="title">
          <span gameInfo> ({{ 'ALREADY_CLAIMED' | translate }}) </span>
        </div>
      }

      @let item = place.currentItem;

      <div gameBorder class="image"></div>

      <div gameBorder class="name">{{ item.name }}</div>
      <div gameBorder class="description">{{ item.description }}</div>

      <div class="actions">
        <button [disabled]="!place.permissions.canBeClaimed" gameButton color="primary">
          {{ 'CLAIM' | translate }}
        </button>
      </div>
    </div>
  </div>
}
