<h1>{{ 'LOGIN_TITLE' | translate }}</h1>

<div class="content">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input
      gameInput
      formControlName="email"
      type="email"
      autocomplete="email"
      label="Email"
      [placeholder]="'LOGIN_EMAIL_PLACEHOLDER' | translate"
    />
    <input
      gameInput
      formControlName="password"
      autocomplete="current-password"
      type="password"
      label="Password"
      [placeholder]="'LOGIN_PASSWORD_PLACEHOLDER' | translate"
    />

    <button gameButton type="submit" [disabled]="loginForm.invalid">
      {{ 'LOGIN_BUTTON_TEXT' | translate }}
    </button>
  </form>

  <div class="register-link">
    <p>{{ 'LOGIN_TO_REGISTER_TEXT' | translate }}</p>

    <button routerLink="/auth/register" gameButton [style]="'outlined'">
      {{ 'LOGIN_TO_REGISTER_BUTTON_TEXT' | translate }}
    </button>
  </div>
</div>
