:host {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  padding-top: 1rem;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  input {
    max-width: 500px;
    min-width: 325px;

    padding: 0.5rem;
    border-radius: 9999px;
  }
}

lib-set,
lib-item {
  width: 100%;
  max-width: 500px;
  min-width: 325px;
  background-color: rgba(var(--color-primary-rgb), 0.05);
  border: 1px solid rgba(var(--color-border-rgb), 0.3);
  border-radius: 8px;
  padding: 20px;
  color: var(--text-color);
  font-family: var(--font-family-main);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

section {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    margin-bottom: 1rem;

    h2 {
      margin: 0;
    }
  }

  .list {
    display: flex;

    overflow-x: auto;
    padding-bottom: 0.5rem;

    gap: 1rem;
  }
}
