<div class="menu">
  <div class="buttons">
    <a [ngClass]="{'active': path === '/' || path === '/business'}" [routerLink]="['/business']">
      <mat-icon>business</mat-icon>
      <span *ngIf="path === '/' || path === '/business'">Empresas</span>
    </a>
    <a [ngClass]="{'active': path === '/installation'}" [routerLink]="['/installation']">
      <mat-icon>fitness_center</mat-icon>
      <span *ngIf="path === '/installation'">Instalaciones</span>
    </a>
    <a [ngClass]="{'active': path === '/schedule'}" [routerLink]="['/schedule']">
      <mat-icon>calendar_today</mat-icon>
      <span *ngIf="path === '/schedule'">Calendario</span>
    </a>
    <a [ngClass]="{'active': path === '/profile'}" [routerLink]="['/profile']">
      <mat-icon>person</mat-icon>
      <span *ngIf="path === '/profile'">Perfil</span>
    </a>
  </div>
</div>