<game-title type="h1" class="my-8 !text-center w-full">
  {{ 'PLAYER' | translate }}
</game-title>

@if (player.value(); as player) {
  <div
    class="border border-gray-600 rounded-xl shadow-lg p-8 mx-auto mb-8 max-w-3xl flex flex-col gap-2"
  >
    <div class="flex flex-row justify-between items-center text-lg py-4 px-2">
      <game-title type="h4">
        {{ 'LEVEL' | translate }}
      </game-title>
      <span class="text-right font-medium">{{ player.level }}</span>
    </div>

    <div class="flex flex-row justify-between items-center text-lg py-4 px-2">
      <game-title type="h4">
        {{ 'RANK' | translate }}
      </game-title>
      <span class="text-right font-medium">{{ player.rank }}</span>
    </div>

    <div class="flex flex-row justify-between items-center text-lg py-4 px-2">
      <game-title type="h4">
        {{ 'EXPERIENCE' | translate }}
      </game-title>
      <span class="text-right font-medium">{{ player.experience }}</span>
    </div>

    <div class="flex flex-col items-start py-4 px-2">
      <game-title type="h2" class="mb-2">
        {{ 'STATS' | translate }}
      </game-title>
      @for (stat of player.stats; track stat.statsType) {
        <div
          class="w-full flex justify-between py-2 border-b border-dashed border-gray-600 last:border-b-0"
        >
          <span class="text-secondary/90">
            {{ stat.statsType | translate }}
          </span>
          <span class="text-primary font-bold">{{ stat.value }}</span>
        </div>
      }
    </div>
    <div class="flex flex-col items-center gap-4 mt-6 rounded-lg shadow p-4">
      <game-title type="h2" class="mb-2">
        {{ 'AGGREGATED_STATS' | translate }}
      </game-title>
      <ul class="flex flex-wrap justify-evenly gap-2 w-full">
        @for (statKey of statsKeys(); track statKey) {
          <li
            class="rounded-md px-6 py-4 min-w-48 shadow flex flex-col items-start mb-2 border border-gray-600 text-base"
          >
            <game-title type="h4" class="mb-2">
              {{ statKey | translate }}
            </game-title>

            <span class="flex justify-between w-full">
              <span>{{ 'BASE' | translate }}</span>
              {{ player.aggregatedStats?.[statKey]?.base }}
            </span>

            <span class="flex justify-between w-full">
              <span>{{ 'BY_LEVEL' | translate }}</span>
              {{ player.aggregatedStats?.[statKey]?.byLevel }}
            </span>

            <span class="flex justify-between w-full">
              <span>{{ 'BY_SET' | translate }}</span>
              {{ player.aggregatedStats?.[statKey]?.bySet }}
            </span>

            <span class="flex justify-between w-full">
              <span>{{ 'BY_PARTY' | translate }}</span>
              {{ player.aggregatedStats?.[statKey]?.byPartySetsBonus }}
            </span>

            <span class="flex justify-between w-full">
              <span>{{ 'BY_GUILD' | translate }}</span>
              {{ player.aggregatedStats?.[statKey]?.byGuild }}
            </span>

            <span
              class="w-full pt-2 mt-2 border-t border-gray-600 flex justify-between"
            >
              <span>{{ 'TOTAL' | translate }}</span>
              {{ player.aggregatedStats?.[statKey]?.total }}
            </span>
          </li>
        }
      </ul>
    </div>
  </div>
}
